/* Begin head-content-container */

.head-content-container {
    width: 100%;
    height: 70px;
    background-color: #000;
    padding: 9px 0 8px 0;
}

.head-content-container:hover {
    cursor: pointer;
}

.head-content-line {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#head-content-click {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    text-decoration: none;
}

#head-content {
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 9px 0 8px 0;
    font-size: 14px;
    font-weight: normal;
}

#head-content-logo {
    width: 67px;
    height: 30px;
    margin-left: 8px;
}

/* End head-content-container */

/* Begin slider */

#slider {
    overflow: hidden;
    position: relative;
}

#slider-image-click {
    text-decoration: none;
}

#slider-image {
    width: 100%;
    height: 100%;
    transition: 0.25s linear;
}

#slider:hover #slider-image {
    transform: scale(1.03);
    cursor: pointer;
}

.stream-btn-container {
    position: absolute;
    bottom: 5%;
    right: 10%;
    z-index: 1;
    border: 1px;
}

.stream-btn {
    border-radius: 24px;
    background-color: rgb(0, 119, 218);
    display: inline-block;
    padding: 16px 64px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
}

.stream-btn:hover {
    cursor: pointer;
    background-color: rgb(0, 112, 204);
}

/* End slider */

/* Begin main-content-1 */

#main-content-1 {
    background-color: #fff;
}

#main-content-1 .main-content-1-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    justify-items: stretch;

    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.main-content-1-container .item-container {
    position: relative;
}

.main-content-1-container .aspect-ratio {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 115%;
    min-height: 100%;
}

.item-link {
    text-decoration: none;
}

.item-container:hover .item-image {
    transform: scale(1.03);
    cursor: pointer;
}

.main-content-1-container .item-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.25s linear;
}   

.detail-item {
    color: #fff;
    font-size: 24px;
    width: 100%;
    padding: 20px;
    text-align: center;
    line-height: 30px;

    position: absolute;
    bottom: 0;
}   

.detail-item-container p {
    display: block;
}

.detail-item-title {
    margin-bottom: 2px;
}

.detail-item-desc {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* End main-content-1 */

/* Begin main-content-2 */

#main-content-2 {
    padding: 24px 60px;
}

.mc2-item-flex {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
}

.module-header {
    text-align: center;
    margin-bottom: 30px;
}

.module-header > .title {
    line-height: 36px;
}

.head-title {
    display: block;
    font-size: 36px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 36px;
    font-weight: 100;
    margin: 12px 0 8px 0;
    color: rgba(0, 0, 0, 0.9);
}

.module-header > p {
    display: block;
    margin-bottom: 8px;
    font-size: 19.5px;
    line-height: 19.5px;
    color: rgba(0, 0, 0, 0.7);
}

.main-content-2-grid-container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;

    width: 100%;
    height: 100%;
}

.mc2-item-container {
    position: relative;
}

.mc2-aspect-ratio {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    min-height: 100%;
}

.item-link:hover .mc2-item-image {
    transform: scale(1.03);
    cursor: pointer;    
}

.mc2-item-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.25s linear;
}   

.detail-container {
    padding: 30px 30px;
    max-width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.title > p {
    font-size: 20px;
    line-height: 24px;
}

.desc {
    margin-top: 10.8px;
    font-size: 16.5px;
    line-height: 18.2px;
    padding: 20px 0;
}

.category {
    color: #222;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    margin-top: auto;
    text-transform: uppercase;
}

/* End main-content-2 */

/* Begin main-content-3 */

#main-content-3 {
    padding: 24px 100px;
}

.main-content-3-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    justify-items: stretch;

    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.main-content-3-container .item-container {
    position: relative;
}

.item-container > .aspect-ratio-3 {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 150%;
    min-height: 100%;
}

.main-content-3-container .item-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.25s linear;
}   

/* End main-content-3 */

/* Begin main-content-4 */

#main-content-4 {
    padding: 24px 100px;
}

.mc4-item-container {
    position: relative;
}

.mc4-item-flex {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
}

.main-content-4-grid-container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;

    width: 100%;
    height: 100%;
}

.mc4-item-1 {
    grid-column: 1 / span 2;
}

.mc4-aspect-ratio {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 116.06%;
    min-height: 100%;
}

.mc4-aspect-ratio-1 {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 100%;
    padding-bottom: 55.87%;
}

.item-link:hover .mc4-item-image {
    transform: scale(1.03);
    cursor: pointer;    
}

.mc4-item-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.25s linear;
}   

/* End main-content-4 */

/* Begin main-content-5 */

#main-content-5 {
    padding: 24px 100px;
}

.mc5-item-flex {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
}

.main-content-5-grid-container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;

    width: 100%;
    height: 100%;
}

.mc5-item-container {
    position: relative;
}

.mc5-aspect-ratio {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    min-height: 100%;
}

.item-link:hover .mc5-item-image {
    transform: scale(1.03);
    cursor: pointer;    
}

.mc5-item-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.25s linear;
}   

/* End main-content-5 */

/* Begin main-content-6 */

#main-content-6 {
    background-color: #fff;
    padding: 24px 100px;

}

#main-content-6 .main-content-6-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    justify-items: stretch;

    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.main-content-6-container .item-container {
    position: relative;
}

.main-content-6-container .aspect-ratio {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    min-height: 100%;
}

.main-content-6-container .item-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.25s linear;
}   

/* End main-content-6 */