.heading:not(#HeadingTrending) {
  color: #757575 !important;
}

.left-header .nav .subnav > a {
  color: #9f9f9f !important;
}

.left-header .nav .subnav-trending a:first-child {
  color: #fff !important;
}

.mid{
  width: 100%;
}
.mid_top{
  width: 100%;
  text-align: center;
}
.mid_top img{
  width: 100%;
}
.mid-main{
  width: 100%;
  background-color: rgb(218, 218, 218);
}
.mid-main .img{
  height: 400px;
  overflow: hidden;
}
.mid-main p{
  margin: 10px 10px ;
}
.giua_text p{
  font-size: 25px;
  margin-top: 20px
}
.mid_body{
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
}

.tren{
  display: flex;
}
.tren_phai, .tren_trai{
  width: 50%;
}
.box{
  overflow: hidden;
  display: block;
  height: 550px;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #fff;
}
.box p , .bo  p{
  margin-top: 20px;
}
.trai1{
  display: flex;
}
.mid_body img{
  width: 100%;
  height: 400px;
}

.giua{
  width: 100%;
  margin-top: 100px;
  display: block;
}
.giua_text{
  text-align: center;
  margin-bottom: 50px;
}
.giua_text img{
  width: 300px;
  height: 50px;
}
.giua_tren{
  display: flex;
}
.bo{
  overflow: hidden;
  width: 100%;
  margin-left: 20px;
  height: 500px;
  background-color: #fff;
}
.giua_duoi{
  display: flex;
  margin-top: 50px;
}
.boxx{
  overflow: hidden;
  width: 100%;
  margin-left: 20px;
  height: 200px;
  background-color: #fff;
}
.boxx img{
  height: 200px;
}


.duoi{
  width: 100%;
  display: block;
}
.duoi_text{
  width: 120%;
  text-align: center;
  margin-left: -10%;
  font-size: 30px;
  margin-top: 130px;
  margin-bottom: 30px;
  background-color: #fff;
}
.duoi_text p{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
.duoi_img{
  display: flex;
}
.duoi_phai{
  width: 50%;
  display: block;
}
.dp2{
  display: flex;
}
.boz{
  overflow: hidden;
  width: 50%;
  height: 520px;
  background-color: #fff;
  margin-left: 20px;
  margin-top: 20px;
}
.bozz{
  overflow: hidden;
  width: 100%;
  height: 520px;
  background-color: #fff;
  margin-left: 20px;
  margin-top: 20px;
}
.boz p , .bozz p{
  margin-top: 20px;
}
.bozz img{
  width: 100%;
}
.dp1{
  margin-right: 20px;
}
.duoi_cung img{
  height: 100px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.mid-main .mid_body img{
    transition: all .3s ease;
}
.mid-main .mid_body img:hover{
  -webkit-transform: scale(1); transform: scale(1.1);
}